* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Alice', serif;
    color: #573a37;
    line-height: 150%;
}

body {
    background-image: url('/img/bg-image.png');
    background-size: cover;
}

main {
    padding: 24px;;
}

section + section {
    margin-top: 24px;
}

#page {
    width: 800px;
    background-color: #F0E8C2;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow:  0 -3em 3em #573a37,
    0 0 0 2px white,
    0.3em 0.3em 1em #291B1A;
    margin: 48px auto;
}

#about p + p {
    margin-top: 12px;
}

h1, h2 {
    color: #291B1A;
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 150%;

}

h1 {
    font-size: 40px;
    line-height: 140%;
}

h2 {
    font-size: 24px;
}

ul {
    padding: 5px 24px 5px 24px;
}

img {
    border-radius: 16px;
}

#credits {
    text-align: center;
    color: #F0E8C2;
}